**/*.o
**/*.bin
**/*.rom
**/*.L68
**/*.S68
**/*.zip
*.s#*
*.b#*
*.job
*.map
**/.project
**/.cproject
**/.settings
**/.DS_Store
**/*.sch-bak
**/*.kicad_pcb-bak
**/fp-info-cache
**/*.lst
**/*.dis
**/*.sym
**/*.elf
.vscode/*
code/software/lcd-ili9341/images/BMPToRLE555
code/software/lcd-ili9341/rle_images.h
c_cpp_properties.json
settings.json
