.idea
**/*.iml
**/*.cbp
.project
.cproject
.settings
*.vcxproj
*.vcxproj.*
*.sln
.vs/*
Debug/*
Release/*
roscom68k_emu.dir/*
roscom68k_emu.opensdf
Win32/*
x64/*
*.o
*.exe
cmake-build-*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.stackdump